<% layout('layouts/boilerplate') %> <%- include('../partials/navbar') %>

<div class="row">
  <div class="col-4 mx-auto">
    <form
      action="/products/<%=foundProduct._id%>?_method=PATCH"
      method="POST"
      novalidate
      class="needs-validation"
    >
      <div class="mb-3">
        <label for="naam">Name: </label>
        <input
          type="text"
          class="form-control"
          name="name"
          id="naam"
          placeholder="Name of the Product"
          value="<%=foundProduct.name%>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter the name.</div>
      </div>
      <div class="mb-3">
        <label for="img">Image: </label>
        <input
          type="text"
          class="form-control"
          name="img"
          id="img"
          placeholder="Image URL of the Product"
          value="<%=foundProduct.img%>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter the image path.</div>
      </div>
      <div class="mb-3">
        <label for="paisa">Price: </label>
        <input
          type="number"
          class="form-control"
          name="price"
          id="paisa"
          placeholder="Enter the Price of the Product"
          value="<%=foundProduct.price%>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter the price.</div>
      </div>
      <div class="mb-3">
        <label for="desc">Description: </label>
        <textarea
          name="desc"
          id="desc"
          rows="5"
          cols="40"
          placeholder="Add Description of the Product"
          required
        >
          <%=foundProduct.name%>
    </textarea
        >
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter the description.</div>
      </div>
      <button type="submit" class="btn btn-success btn-sm">Edit Product</button>
    </form>
  </div>
</div>

<script>
  // iife -> Immidiately invoked function expression
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    "use strict";

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    let forms = document.querySelectorAll(".needs-validation");

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms).forEach(function (form) {
      form.addEventListener(
        "submit",
        function (event) {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add("was-validated");
        },
        false
      );
    });
  })();
</script>
