<% layout('layouts/boilerplate') %> <%- include('../partials/navbar') %> <%-
include('../partials/flash') %>

<div class="row">
  <% for(let item of products) { %>

  <div class="col-lg-4 mt-3">
    <div class="card mx-auto shadow" style="width: 16rem" ,>
      <img src="<%= item.img %>" class="card-img-top" />
      <div class="card-body">
        <h2 class="card-title"><%= item.name %></h2>
        <h5 class="card-title"><%= item.price %></h5>
        <p class="card-text"><%= item.desc %></p>
        <a href="/products/<%= item.id %>" class="btn btn-info">View Product</a>
        <form
          action="/products/<%= item.id %>?_method=DELETE"
          method="POST"
          class="d-inline-block"
        >
          <button class="btn btn-sm btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
  <% } %>
</div>
